# Data Cleaning Algorithm Validation

In [1]:
import numpy as np
import pandas as pd
from kasi.processing import category_maps as maps
from kasi.processing import data_processor as pc
from kasi.processing import dictionaries as dc
import glob

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

input_path_clean = "../data/processed/clean_data.csv"
input_path_origonal = "../data/original/**"

In [16]:
paths = glob.glob(input_path_origonal)
dfc = pd.read_csv(input_path_clean)
dfo = pd.concat([pd.read_csv(f,names=range(0,38),header=0,low_memory=False) for f in paths],ignore_index = True)
print(dfo.shape,dfc.shape)
dfc.describe()

(29383, 38) (29383, 40)

                  2             3             4             5             6             7             8             9            10            11            12            13            14            16            18            19            20            21            22            23            24            25            26            27            28            29            30            31            32            33            34            35            36            37  credit_score  credit_score_category  lender_score  lender_score_category
count  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000  29383.000000           29383.000000  29383.000000           29383.000000
mean       1.690195      2.068577      1.901201      2.156791      1.799136      1.822653      1.827349      1.655821      1.988769      3.676480      3.851547      2.772556      0.241772      3.594630      2.406732      2.065786      1.930164      2.385461      3.258891      3.282000      2.796583      2.711023      2.613314      1.472756      1.514651      2.655379      2.709832      2.835994      2.895143      0.295783      1.254637      1.304768      7.680972      2.189021    348.555627               1.839193    303.795052               1.744240
std        0.617315      0.613887      0.642582      0.604722      0.637219      0.630624      0.639422      0.475108      0.866650      1.173799      1.273535      1.195637      0.709064      1.928038      0.898727      0.753135      0.612274      0.968152      1.318173      1.317576      1.159101      1.099088      1.377129      0.499266      0.499794      1.058663      1.103981      1.125394      1.220304      1.083417      0.435664      0.460317      1.261708      0.584561    244.700255               0.953146    272.730673               0.818515
min        1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      0.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      0.000000      1.000000      1.000000      1.000000      1.000000   -720.000000               1.000000   -590.000000               1.000000
25%        1.000000      2.000000      1.000000      2.000000      1.000000      1.000000      1.000000      1.000000      1.000000      3.000000      3.000000      2.000000      0.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      1.000000      1.000000      1.000000      2.000000      2.000000      2.000000      2.000000      0.000000      1.000000      1.000000      8.000000      2.000000    190.000000               1.000000    140.000000               1.000000
50%        2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      2.000000      4.000000      4.000000      3.000000      0.000000      4.000000      2.000000      2.000000      2.000000      2.000000      3.000000      3.000000      3.000000      3.000000      2.000000      1.000000      2.000000      2.000000      2.000000      2.000000      2.000000      0.000000      1.000000      1.000000      8.000000      2.000000    390.000000               2.000000    380.000000               2.000000
75%        2.000000      2.000000      2.000000      3.000000      2.000000      2.000000      2.000000      2.000000      2.000000      4.000000      5.000000      4.000000      0.000000      5.000000      3.000000      2.000000      2.000000      3.000000      5.000000      5.000000      4.000000      3.000000      3.000000      2.000000      2.000000      3.000000      3.000000      4.000000      4.000000      0.000000      2.000000      2.000000      8.000000      2.000000    540.000000               2.000000    500.000000               2.000000
max        3.000000      3.000000      3.000000      3.000000      3.000000      3.000000      3.000000      2.000000      7.000000      9.000000     10.000000      9.000000      4.000000      7.000000      4.000000      4.000000      3.000000      6.000000      5.000000      5.000000      5.000000      5.000000      5.000000      2.000000      2.000000      6.000000      5.000000      5.000000      5.000000      8.000000      2.000000      2.000000      8.000000      4.000000    970.000000               5.000000    840.000000               5.000000

In [11]:
df_comb = pd.concat([dfo,dfc], axis=1)
df = df_comb.sample(frac=0.1)

In [12]:
df[[2,'2',3,'3',4,'4',5,'5',6,'6',7,'7',8,'8',9,'9']]

                                2  2                  3  3              4  4                  5  5                        6  6                        7  7                        8  8               9  9
16462               Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
28158               Same / Pareil  2  Maybe / Peut-être  2    More / Plus  1          Yes / Oui  3  Stay the same / La même  2  Stay the same / La même  2      Improve / Améliorée  1    Male / Homme  2
134    Difficult / Plus difficile  1  Maybe / Peut-être  2   Less / Moins  3  Maybe / Peut-être  2  Stay the same / La même  2     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
8192   Difficult / Plus difficile  1          Yes / Oui  3  Same / Pareil  2          Yes / Oui  3  Stay the same / La même  2  Stay the same / La même  2      Improve / Améliorée  1    Male / Homme  2
18920                         NaN  2                NaN  2            NaN  2                NaN  2                      NaN  2                      NaN  2                      NaN  2  Female / Femme  1
5181   Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1          Yes / Oui  3      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
26130  Difficult / Plus difficile  1  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
1955   Difficult / Plus difficile  1  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2      Improve / Améliorée  1    Male / Homme  2
25932  Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1  Maybe / Peut-être  2  Stay the same / La même  2      Improve / Améliorée  1      Worsen / Détériorée  3    Male / Homme  2
5587                Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2    Male / Homme  2
10894  Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1  Maybe / Peut-être  2      Improve / Améliorée  1  Stay the same / La même  2      Worsen / Détériorée  3    Male / Homme  2
25417  Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1  Maybe / Peut-être  2      Improve / Améliorée  1     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
25865               Same / Pareil  2  Maybe / Peut-être  2    More / Plus  1  Maybe / Peut-être  2      Improve / Améliorée  1      Improve / Améliorée  1  Stay the same / La même  2    Male / Homme  2
1030                Same / Pareil  2  Maybe / Peut-être  2    More / Plus  1          Yes / Oui  3      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1  Female / Femme  1
28343               Same / Pareil  2           No / Non  1   Less / Moins  3  Maybe / Peut-être  2      Worsen / Détériorée  3     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
15381  Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1           No / Non  1  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
28115               Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2      Improve / Améliorée  1  Stay the same / La même  2      Improve / Améliorée  1    Male / Homme  2
10048        Easier / Plus facile  3           No / Non  1   Less / Moins  3           No / Non  1      Worsen / Détériorée  3     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
19292                         NaN  2                NaN  2            NaN  2                NaN  2                      NaN  2                      NaN  2                      NaN  2    Male / Homme  2
8919                Same / Pareil  2  Maybe / Peut-être  2   Less / Moins  3          Yes / Oui  3      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
7651   Difficult / Plus difficile  1  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
2366         Easier / Plus facile  3  Maybe / Peut-être  2  Same / Pareil  2           No / Non  1  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
25022  Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1  Maybe / Peut-être  2  Stay the same / La même  2      Improve / Améliorée  1  Stay the same / La même  2    Male / Homme  2
28010  Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1           No / Non  1  Stay the same / La même  2      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
22227  Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1  Maybe / Peut-être  2      Improve / Améliorée  1      Improve / Améliorée  1  Stay the same / La même  2  Female / Femme  1
...                           ... ..                ... ..            ... ..                ... ..                      ... ..                      ... ..                      ... ..             ... ..
3128                Same / Pareil  2          Yes / Oui  3  Same / Pareil  2          Yes / Oui  3      Improve / Améliorée  1  Stay the same / La même  2  Stay the same / La même  2    Male / Homme  2
10865  Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1          Yes / Oui  3      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
415          Easier / Plus facile  3           No / Non  1   Less / Moins  3           No / Non  1      Worsen / Détériorée  3     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
18366                         NaN  2                NaN  2            NaN  2                NaN  2                      NaN  2                      NaN  2                      NaN  2    Male / Homme  2
8055                Same / Pareil  2          Yes / Oui  3  Same / Pareil  2          Yes / Oui  3      Improve / Améliorée  1  Stay the same / La même  2  Stay the same / La même  2    Male / Homme  2
10053        Easier / Plus facile  3           No / Non  1   Less / Moins  3           No / Non  1      Worsen / Détériorée  3     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
9854   Difficult / Plus difficile  1           No / Non  1   Less / Moins  3           No / Non  1      Worsen / Détériorée  3     Worsen / Détérioriée  3      Worsen / Détériorée  3    Male / Homme  2
11908               Same / Pareil  2           No / Non  1  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
21602  Difficult / Plus difficile  1  Maybe / Peut-être  2  Same / Pareil  2           No / Non  1  Stay the same / La même  2      Improve / Améliorée  1  Stay the same / La même  2    Male / Homme  2
23623  Difficult / Plus difficile  1          Yes / Oui  3    More / Plus  1  Maybe / Peut-être  2  Stay the same / La même  2      Improve / Améliorée  1  Stay the same / La même  2    Male / Homme  2
3525   Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1          Yes / Oui  3      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
5477                Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
18695                         NaN  2                NaN  2            NaN  2                NaN  2                      NaN  2                      NaN  2                      NaN  2  Female / Femme  1
15086        Easier / Plus facile  3          Yes / Oui  3    More / Plus  1  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2      Improve / Améliorée  1  Female / Femme  1
14438               Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
12091               Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
3537                Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2    Male / Homme  2
8191                Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2          Yes / Oui  3  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2    Male / Homme  2
26398  Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1          Yes / Oui  3      Improve / Améliorée  1      Improve / Améliorée  1      Improve / Améliorée  1    Male / Homme  2
14353               Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2  Female / Femme  1
8026                Same / Pareil  2          Yes / Oui  3  Same / Pareil  2          Yes / Oui  3      Improve / Améliorée  1  Stay the same / La même  2      Improve / Améliorée  1  Female / Femme  1
15366  Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1  Maybe / Peut-être  2  Stay the same / La même  2     Worsen / Détérioriée  3  Stay the same / La même  2    Male / Homme  2
12690        Easier / Plus facile  3          Yes / Oui  3    More / Plus  1          Yes / Oui  3      Improve / Améliorée  1  Stay the same / La même  2      Improve / Améliorée  1  Female / Femme  1
6726                Same / Pareil  2  Maybe / Peut-être  2  Same / Pareil  2  Maybe / Peut-être  2  Stay the same / La même  2  Stay the same / La même  2  Stay the same / La même  2    Male / Homme  2
25240  Difficult / Plus difficile  1  Maybe / Peut-être  2    More / Plus  1  Maybe / Peut-être  2  Stay the same / La même  2      Improve / Améliorée  1  Stay the same / La même  2  Female / Femme  1

[2938 rows x 16 columns]

In [13]:
## columns that participate in model training and scoe calculation
df[[14,'14',16,'16',18,'18',19,'19',20,'20',21,'21',22,'22',23,'23',24,'24',25,'25',26,'26',36,'36']]

                                                      14  14             16  16                                     18  18                                     19  19                                                 20  20                                                 21  21                                        22  22                                        23  23                                        24  24                                                 25  25                                                 26  26            36  36
16462                                                NaN   0          Kenya   4                        Once / Une fois   3                             1000-20000   3         Business colleagues / Collegues de travail   3    At least 1 month but than 3 months / 1 - 2 mois   2   Most of the time / La majorité du temps   2  About half the time / La moitié du temps   3  About half the time / La moitié du temps   3         At least 9 out of 10 times / 9 fois sur 10   2                                                NaN   2           NaN   8
28158                                                NaN   0       Cameroon   1                        Once / Une fois   3                                  75000   3  Family / La famille, Friends / Les amis, Busin...   2  At least 6 months but less than 12 months / 6 ...   4  About half the time / La moitié du temps   3  About half the time / La moitié du temps   3  About half the time / La moitié du temps   3  At least 7-8 out of 10 times / Au moins 7-8 fo...   3  Personal or family expenses (Health, education...   1           NaN   8
134      I am not a student / Je ne suis pas un étudiant   2          Ghana   3                                   Once   3                           Less than 90   1                                             Family   1               Never - I don't expect to get repaid   6                                     Never   5                                     Never   5                                     Never   5                        Less than 5 out of 10 times   5  To pay for one-time or sudden expenses (Weddin...   2  Less than 5%   1
8192                                                 NaN   0          Ghana   3                                   Once   3                                    100   2                                      Micro finance   2                 At least 1 month but than 3 months   2                                     Never   5                       About half the time   3                                     Never   5                       At least 7-8 out of 10 times   3           Investment (commerce, merchandise, etc.)   3           NaN   8
18920                                                NaN   0          Kenya   4                        Once / Une fois   3       At least 1000 but less than 4000   2                                 Friends / Les amis   2    At least 1 month but than 3 months / 1 - 2 mois   2                    Occasionally / Souvent   4                    Occasionally / Souvent   4                    Occasionally / Souvent   4  At least 7-8 out of 10 times / Au moins 7-8 fo...   3                                                NaN   2           NaN   8
5181                                                 NaN   0        Nigeria   5                      More than 4 times   1  At least 31,001 but less than 160,000   3                                            Friends   2                                  Less than a month   1                                    Always   1                                    Always   1                                    Always   1                                         Every time   1    Personal or family expenses (Health, education)   1           NaN   8
26130                                                NaN   0       Cameroon   1                         Plus de 4 fois   1                Entre 59 001 et 290 000   2                                           Les amis   2                                    Moins d'un mois   1                      La majorité du temps   2                      La majorité du temps   2                        La moitié du temps   3                           Au moins 5-6 fois sur 10   4                            Investir dans un projet   3           NaN   8
1955   Post Graduate Degree / Université Niveau Maitr...   3       Tanzania   7                                   Once   3             Between 45,000 and 199,999   2                                             Family   1           At least 3 months but less than 6 months   3                          Most of the time   2                       About half the time   3                       About half the time   3                       At least 5-6 out of 10 times   4  To invest or cover business expenses (Merchand...   3  Less than 5%   1
25932                                                NaN   0       Cameroon   1                         Plus de 4 fois   1                Entre 59 001 et 290 000   2                                           Les amis   2                                         3 - 5 mois   3                                   Souvent   4                      La majorité du temps   2                                  Toujours   1                           Au moins 7-8 fois sur 10   3                            Investir dans un projet   3           NaN   8
5587                                                 NaN   0   South Africa   6                      Between 2-3 times   2       At least 1201 but less than 6400   3                                            Friends   2           At least 3 months but less than 6 months   3                              Occasionally   4                              Occasionally   4                       About half the time   3                       At least 7-8 out of 10 times   3    Personal or family expenses (Health, education)   1           NaN   8
10894                                                NaN   0          Kenya   4                      Between 2-3 times   2               Between 2,000 and 10,499   2                                            Friends   2            At least 1 month but less than 3 months   2                          Most of the time   2                                    Always   1                                    Always   1                         At least 9 out of 10 times   2    Personal or family expenses (Health, education)   1           NaN   8
25417                                                NaN   0  Cote d'Ivoire   2                                 Aucune   2                        Plus de 290 001   2                                           Les amis   2                                         1 - 2 mois   2                                  Toujours   1                                  Toujours   1                                   Souvent   4                           Au moins 5-6 fois sur 10   4                            Investir dans un projet   3           NaN   8
25865                                                NaN   0       Cameroon   1                      Entre 2 et 3 fois   2                 Entre 10 001 et 59 000   2                                           Les amis   2                                         1 - 2 mois   2                        La moitié du temps   3                      La majorité du temps   2                      La majorité du temps   2                           Au moins 7-8 fois sur 10   3                            Investir dans un projet   3           NaN   8
1030     I am not a student / Je ne suis pas un étudiant   2        Nigeria   5                      Between 2-3 times   2                      More than 160,001   4                                             Family   1           At least 3 months but less than 6 months   3                       About half the time   3                              Occasionally   4                          Most of the time   2                         At least 9 out of 10 times   2  To cover regular expenses (Rent, clothing, hom...   1  Less than 5%   1
28343                                                NaN   0       Cameroon   1                        Once / Une fois   3                                  20000   2                                 Friends / Les amis   2  At least 3 months but less than 6 months / 3 -...   3   Most of the time / La majorité du temps   2                         Always / Toujours   1  About half the time / La moitié du temps   3                       Every time / Toutes les fois   1  Personal or family expenses (Health, education...   1           NaN   8
15381                                                NaN   0          Ghana   3                         Never / Jamais   4                                     10   1         Business colleagues / Collegues de travail   3    At least 1 month but than 3 months / 1 - 2 mois   2                    Occasionally / Souvent   4                    Occasionally / Souvent   4                    Occasionally / Souvent   4  Less than 5 out of 10 times / Moins de 5 fois ...   5                                                NaN   2           NaN   8
28115                                                NaN   0       Cameroon   1  Between 2-3 times / Entre 2 et 3 fois   2                                 150000   3  Family / La famille, Business colleagues / Col...   2  At least 3 months but less than 6 months / 3 -...   3  About half the time / La moitié du temps   3   Most of the time / La majorité du temps   2   Most of the time / La majorité du temps   2  At least 7-8 out of 10 times / Au moins 7-8 fo...   3  Personal or family expenses (Health, education...   1           NaN   8
10048                                                NaN   0       Tanzania   7                      Between 2-3 times   2                                 600000   3                                             Family   1                                  Less than a month   1                                     Never   5                                     Never   5                          Most of the time   2                                         Every time   1           Investment (commerce, merchandise, etc.)   3           NaN   8
19292                                                NaN   0          Ghana   3                        Once / Une fois   3                      I am not in Kenya   2                                 Friends / Les amis   2    At least 1 month but than 3 months / 1 - 2 mois   2                    Occasionally / Souvent   4  About half the time / La moitié du temps   3  About half the time / La moitié du temps   3  At least 7-8 out of 10 times / Au moins 7-8 fo...   3                                                NaN   2           NaN   8
8919                                                 NaN   0          Kenya   4                      Between 2-3 times   2                                   2000   2                                            Friends   2                                  Less than a month   1                              Occasionally   4                                     Never   5                                     Never   5                       At least 5-6 out of 10 times   4    Personal or family expenses (Health, education)   1           NaN   8
7651                                                 NaN   0   South Africa   6                                   Once   3                          Less than 250   1                                            Friends   2            At least 1 month but less than 3 months   2                              Occasionally   4                              Occasionally   4                              Occasionally   4                                         Every time   1    Personal or family expenses (Health, education)   1           NaN   8
2366                                                 NaN   0          Ghana   3                      Between 2-3 times   2          At least 91 but less than 444   2                                            Friends   2            At least 1 month but less than 3 months   2                       About half the time   3                          Most of the time   2                          Most of the time   2                       At least 7-8 out of 10 times   3           Investment (commerce, merchandise, etc.)   3           NaN   8
25022                                                NaN   0       Cameroon   1                      Entre 2 et 3 fois   2                Entre 59 001 et 290 000   2                                           Les amis   2                                        6 - 11 mois   4                                   Souvent   4                                   Souvent   4                      La majorité du temps   2                           Au moins 5-6 fois sur 10   4                            Investir dans un projet   3           NaN   8
28010                                                NaN   0       Cameroon   1     More than 4 times / Plus de 4 fois   1                                 200000   3                                Family / La famille   1  At least 6 months but less than 12 months / 6 ...   4   Most of the time / La majorité du temps   2  About half the time / La moitié du temps   3  About half the time / La moitié du temps   3  At least 7-8 out of 10 times / Au moins 7-8 fo...   3  Investment (commerce, merchandise, etc.) / Inv...   3           NaN   8
22227                                                NaN   0  Cote d'Ivoire   2                      Entre 2 et 3 fois   2                Entre 59 001 et 290 000   2                                           Les amis   2                                         3 - 5 mois   3                        La moitié du temps   3                      La majorité du temps   2                      La majorité du temps   2                           Au moins 7-8 fois sur 10   3                            Investir dans un projet   3           NaN   8
...                                                  ...  ..            ...  ..                                    ...  ..                                    ...  ..                                                ...  ..                                                ...  ..                                       ...  ..                                       ...  ..                                       ...  ..                                                ...  ..                                                ...  ..           ...  ..
3128                                                 NaN   0        Nigeria   5                                   Once   3    At least 6,001 but less than 31,000   2                                             Family   1            At least 1 month but less than 3 months   2                                     Never   5                          Most of the time   2                          Most of the time   2                         At least 9 out of 10 times   2    Personal or family expenses (Health, education)   1           NaN   8
10865                                                NaN   0          Kenya   4                      Between 2-3 times   2               Between 2,000 and 10,499   2                                            Friends   2                                  Less than a month   1                                    Always   1                                    Always   1                                    Always   1                                         Every time   1    Personal or family expenses (Health, education)   1           NaN   8
415    Technical or Other college diploma / Collège t...   1          Kenya   4                      More than 4 times   1                        Less than 1,999   1                                Business colleagues   3           At least 3 months but less than 6 months   3                          Most of the time   2                       About half the time   3                       About half the time   3                         At least 9 out of 10 times   2  To pay for one-time or sudden expenses (Weddin...   2     10% - 20%   3
18366                                                NaN   0          Ghana   3                         Never / Jamais   4                      I am not in Kenya   2                                               none   2  At least 3 months but less than 6 months / 3 -...   3  About half the time / La moitié du temps   3                    Occasionally / Souvent   4                    Occasionally / Souvent   4  At least 5-6 out of 10 times / Au moins 5-6 fo...   4                                                NaN   2           NaN   8
8055                                                 NaN   0          Ghana   3                                  Never   4                                     50   1                                            Friends   2           At least 3 months but less than 6 months   3                              Occasionally   4                              Occasionally   4                              Occasionally   4                       At least 7-8 out of 10 times   3    Personal or family expenses (Health, education)   1           NaN   8
10053                                                NaN   0       Tanzania   7                      More than 4 times   1                                  50000   2                                            Friends   2                                  Less than a month   1                                     Never   5                                     Never   5                          Most of the time   2                                         Every time   1    Personal or family expenses (Health, education)   1           NaN   8
9854                                                 NaN   0   South Africa   6                      Between 2-3 times   2                                   1500   3                                            Friends   2                 At least 1 month but than 3 months   2                                     Never   5                                     Never   5                       About half the time   3                       At least 5-6 out of 10 times   4    Personal or family expenses (Health, education)   1           NaN   8
11908                                                NaN   0   South Africa   6                      More than 4 times   1       At least 1201 but less than 6400   3                                            Friends   2           At least 3 months but less than 6 months   3                       About half the time   3                       About half the time   3                          Most of the time   2                       At least 5-6 out of 10 times   4                                       I don't know   5           NaN   8
21602                                                NaN   0       Cameroon   1                         Plus de 4 fois   1                 Entre 10 001 et 59 000   2                                           Les amis   2                                         3 - 5 mois   3                                   Souvent   4                                   Souvent   4                                   Souvent   4                                      9 fois sur 10   2                                     Je ne sais pas   5           NaN   8

In [14]:
df[['credit_score', 'credit_score_category', 'lender_score', 'lender_score_category']]

       credit_score  credit_score_category  lender_score  lender_score_category
16462           330                      1           380                      2
28158           300                      1           400                      2
134            -210                      1          -490                      1
8192            130                      1          -130                      1
18920           200                      1            20                      1
5181            330                      1           780                      5
26130           430                      2           530                      2
1955            270                      1           250                      1
25932           810                      5           670                      4
5587            420                      2           410                      2
10894           370                      2           710                      4
25417           120                      1           300                      1
25865           640                      3           580                      3
1030            360                      2           420                      2
28343            90                      1           420                      2
15381            90                      1           -90                      1
28115           420                      2           590                      3
10048           630                      3           340                      1
19292           440                      2           290                      1
8919            -80                      1           -80                      1
7651            -30                      1           -30                      1
2366            640                      3           580                      3
25022           760                      5           520                      2
28010           420                      2           410                      2
22227           650                      3           580                      3
...             ...                    ...           ...                    ...
3128            220                      1           280                      1
10865           280                      1           730                      4
415             360                      2           400                      2
18366           150                      1            30                      1
8055            -50                      1           -60                      1
10053           540                      2           490                      2
9854            470                      2           390                      2
11908           660                      4           500                      2
21602           330                      1            70                      1
23623           440                      2           650                      3
3525            430                      2           140                      1
5477            420                      2           410                      2
18695           180                      1           -10                      1
15086           360                      2           480                      2
14438           650                      3           440                      2
12091           640                      3           300                      1
3537            630                      3           290                      1
8191             40                      1          -210                      1
26398           390                      2           150                      1
14353           -50                      1           -60                      1
8026            -10                      1          -230                      1
15366           -60                      1          -150                      1
12690            60                      1          -240                      1
6726            510                      2           490                      2
25240           240                      1            80                      1

[2938 rows x 4 columns]

In [23]:
# credit score
#
# risk              
#
# recipients = 20    
# interest = 22
# collateral = 23
#
# liqudity
#
# frequency = 18
# duration = 21
# amount = 19
#
# collection = 24
# usage = 26
# 
### the credit  and columns that make the formula
df[['20','22','23','18','21','19','24','26','credit_score', 'credit_score_category','lender_score', 'lender_score_category']]

       20  22  23  18  21  19  24  26  credit_score  credit_score_category  lender_score  lender_score_category
16462   3   2   3   3   2   3   3   2           330                      1           380                      2
28158   2   3   3   3   4   3   3   1           300                      1           400                      2
134     1   5   5   3   6   1   5   2          -210                      1          -490                      1
8192    2   5   3   3   2   2   5   3           130                      1          -130                      1
18920   2   4   4   3   2   2   4   2           200                      1            20                      1
5181    2   1   1   1   1   3   1   1           330                      1           780                      5
26130   2   2   2   1   1   2   3   3           430                      2           530                      2
1955    1   2   3   3   3   2   3   3           270                      1           250                      1
25932   2   4   2   1   3   2   1   3           810                      5           670                      4
5587    2   4   4   2   3   3   3   1           420                      2           410                      2
10894   2   2   1   2   2   2   1   1           370                      2           710                      4
25417   2   1   1   2   2   2   4   3           120                      1           300                      1
25865   2   3   2   2   2   2   2   3           640                      3           580                      3
1030    1   3   4   2   3   4   2   1           360                      2           420                      2
28343   2   2   1   3   3   2   3   1            90                      1           420                      2
15381   3   4   4   4   2   1   4   2            90                      1           -90                      1
28115   2   3   2   2   3   3   2   1           420                      2           590                      3
10048   1   5   5   2   1   3   2   3           630                      3           340                      1
19292   2   4   3   3   2   2   3   2           440                      2           290                      1
8919    2   4   5   2   1   2   5   1           -80                      1           -80                      1
7651    2   4   4   3   2   1   4   1           -30                      1           -30                      1
2366    2   3   2   2   2   2   2   3           640                      3           580                      3
25022   2   4   4   2   4   2   2   3           760                      5           520                      2
28010   1   2   3   1   4   3   3   3           420                      2           410                      2
22227   2   3   2   2   3   2   2   3           650                      3           580                      3
...    ..  ..  ..  ..  ..  ..  ..  ..           ...                    ...           ...                    ...
3128    1   5   2   3   2   2   2   1           220                      1           280                      1
10865   2   1   1   2   1   2   1   1           280                      1           730                      4
415     3   2   3   1   3   1   3   2           360                      2           400                      2
18366   2   3   4   4   3   2   4   2           150                      1            30                      1
8055    2   4   4   4   3   1   4   1           -50                      1           -60                      1
10053   2   5   5   1   1   2   2   1           540                      2           490                      2
9854    2   5   5   2   2   3   3   1           470                      2           390                      2
11908   2   3   3   1   3   3   2   5           660                      4           500                      2
21602   2   4   4   1   3   2   4   5           330                      1            70                      1
23623   2   1   1   3   1   2   1   3           440                      2           650                      3
3525    2   5   4   2   2   2   4   3           430                      2           140                      1
5477    2   4   4   2   3   3   3   1           420                      2           410                      2
18695   2   4   4   4   3   2   4   2           180                      1           -10                      1
15086   2   1   3   2   3   2   3   2           360                      2           480                      2
14438   2   3   5   2   2   3   2   5           650                      3           440                      2
12091   2   5   5   3   3   3   2   5           640                      3           300                      1
3537    2   5   5   2   3   3   3   5           630                      3           290                      1
8191    1   4   5   2   1   1   4   5            40                      1          -210                      1
26398   2   4   4   2   2   2   4   3           390                      2           150                      1
14353   2   4   4   4   3   1   4   1           -50                      1           -60                      1
8026    2   4   3   3   2   2   5   5           -10                      1          -230                      1
15366   2   3   3   4   3   2   5   2           -60                      1          -150                      1
12690   1   5   4   4   2   2   4   5            60                      1          -240                      1
6726    2   2   3   2   3   2   3   3           510                      2           490                      2
25240   3   4   3   1   3   1   4   2           240                      1            80                      1

[2938 rows x 12 columns]

In [33]:
col = [2,33]
[v for k,v in dc.columns.items() if k in col]

['Has it become more difficult or easier to find a job in your city?',
 'What type of loans are you currently paying of?']