# Lending Environment Simulation Model & Lender Evaluation Tool

# Data Exploration

In [1]:
import glob
import os
import numpy as np
import pandas as pd


pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

input_path = "../data/original/*.csv"
paths = glob.glob(input_path)
len(paths)

2

In [6]:
# read all *.csv files from the input path
# drop the headers and replace them with the sequential numbers 
df = pd.concat([pd.read_csv(f,names=range(0,38),header=0) for f in paths])
df.shape,df.columns

((29383, 38),
 Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37], dtype='int64'))

In [7]:
df.describe()

                       0         1              2                  3              4                  5                        6                        7                        8             9                10     11                           12                           13                                               14            15        16        17                 18                      19       20                                       21     22     23                24                            25                                               26     27     28     29     30     31     32                    33         34     35         36      37
count               29383     29383          27212              27212          27212              27212                    27212                    27212                    27212         28391            28391  28391                        28391                        28391                                             3298          3298     29383     18709              29383                   27906    29314                                    28349  29383  29383             29383                         29383                                            24656  23091  23091  23089  18748  18748  18748                  8675      16131  14389       2259    3349
unique              26008     24800              3                  3              3                  3                        3                        3                        3             4               10     16                           41                           88                                                5             6         7      4648                 22                    1055      213                                       17     15     18                18                            15                                               17      7      7     33      7      7      7                   161          8      6          8     562
top     6-24-2017 9:01:52  T19S38b3  Same / Pareil  Maybe / Peut-être  Same / Pareil  Maybe / Peut-être  Stay the same / La même  Stay the same / La même  Stay the same / La même  Male / Homme  Married / Marié  30-34  Bachelor’s degree / Licence  Salaried employee / Salarié  I am not a student / Je ne suis pas un étudiant  Black / Noir  Cameroon  Spintex   Between 2-3 times  Entre 10 001 et 59 000  Friends  At least 1 month but less than 3 months  Never  Never  Most of the time  At least 7-8 out of 10 times  Personal or family expenses (Health, education)     No     No   Bank      3      3      4  5 - Definitely agree  Yes / Oui     No  10% - 20%  100000
freq                    4        12          13195              16001          14793              15745                    14096                    14603                    14323         17551            12654   9308                         7889                        10138                                             1509          2550      6218       331               5606                    3685     7750                                     5163   5226   5229              4299                          4575                                             5943   8947  10974   5302   5235   5942   4576                  1744       4344   6630        543     149

In [13]:
import re

str1 = "Between 2-3 times"


re.findall('\d+', str1 )

['2', '3']

In [8]:
import category_maps as maps
import dictionaries as dic
import data_pre_processor as preproc

In [13]:
col = 18
df['test'] = df[col].apply(preproc.categorize,map=maps.map_col18)
df['test'].unique()

array([2, 3, 1, 4, 0], dtype=int64)

In [14]:
df[[col,'test']]

                                         18  test
0                         Between 2-3 times     2
1                         Between 2-3 times     2
2                         Between 2-3 times     2
3                         Between 2-3 times     2
4                         Between 2-3 times     2
5                                      Once     3
6                                      Once     3
7                         More than 4 times     1
8                         Between 2-3 times     2
9                         Between 2-3 times     2
10                        Between 2-3 times     2
11                                     Once     3
12                                     Once     3
13                                     Once     3
14                        Between 2-3 times     2
15                                    Never     4
16                                     Once     3
17                        Between 2-3 times     2
18                                     Once     3
19                        Between 2-3 times     2
20                        Between 2-3 times     2
21                                     Once     3
22                                     Once     3
23                        Between 2-3 times     2
24                        Between 2-3 times     2
...                                     ...   ...
9876  Between 2-3 times / Entre 2 et 3 fois     2
9877  Between 2-3 times / Entre 2 et 3 fois     2
9878  Between 2-3 times / Entre 2 et 3 fois     2
9879  Between 2-3 times / Entre 2 et 3 fois     2
9880     More than 4 times / Plus de 4 fois     1
9881  Between 2-3 times / Entre 2 et 3 fois     2
9882  Between 2-3 times / Entre 2 et 3 fois     2
9883     More than 4 times / Plus de 4 fois     1
9884                        Once / Une fois     3
9885  Between 2-3 times / Entre 2 et 3 fois     2
9886     More than 4 times / Plus de 4 fois     1
9887     More than 4 times / Plus de 4 fois     1
9888  Between 2-3 times / Entre 2 et 3 fois     2
9889  Between 2-3 times / Entre 2 et 3 fois     2
9890  Between 2-3 times / Entre 2 et 3 fois     2
9891     More than 4 times / Plus de 4 fois     1
9892  Between 2-3 times / Entre 2 et 3 fois     2
9893  Between 2-3 times / Entre 2 et 3 fois     2
9894  Between 2-3 times / Entre 2 et 3 fois     2
9895     More than 4 times / Plus de 4 fois     1
9896     More than 4 times / Plus de 4 fois     1
9897                         Never / Jamais     4
9898  Between 2-3 times / Entre 2 et 3 fois     2
9899     More than 4 times / Plus de 4 fois     1
9900                        Once / Une fois     3

[29383 rows x 2 columns]

## Verify Quality of the Data that are Included into  the Formula

### Risk Columns

#### Recipients


Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
Family | Family | 1 | -0.05
Friends | Friends | 2 | 0.1 
Business colleagues | Business Colleagues | 3 | 0.1 
None of the above | Other | 4 | -0.05

In [272]:
u=df[22].unique() #20. Who did you lend money to in the past 3 months?
len(u),u

(15, array(['About half the time', 'Occasionally', 'Most of the time', 'Never',
        'Always', 'Never / Jamais', 'Occasionally / Souvent',
        'Always /\xa0Toujours',
        'About half the time /\xa0La moitié du temps',
        'Most of the time /\xa0La majorité du temps', 'Jamais',
        'La moitié du temps', 'Souvent', 'La majorité du temps',
        'Toujours'], dtype=object))

#### Interest


Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
Always /Toujours | Always | 1 | -0.1
Most of the time/ La moitié du temps | Most of the Time | 2 | -0.05 
About half the time/ La moitié du temps | About half the time | 3 | 0.05 
Occasionally/ Souvent | Occasionally | 4 | 0.08 
Never / Jamais | Never | 5 | 0.12

In [164]:
u = df[22].unique() # 22:"Do you include either interest or a lending fee when you lend?"
len(u), u

(15, array(['About half the time', 'Occasionally', 'Most of the time', 'Never',
        'Always', 'Never / Jamais', 'Occasionally / Souvent',
        'Always /\xa0Toujours',
        'About half the time /\xa0La moitié du temps',
        'Most of the time /\xa0La majorité du temps', 'Jamais',
        'La moitié du temps', 'Souvent', 'La majorité du temps',
        'Toujours'], dtype=object))

#### Collateral


Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
Always /Toujours | Always | 1 | -0.05
Most of the time/ La moitié du temps | Most of the Time | 2 | -0.03 
About half the time/ La moitié du temps | About half the time | 3 | 0.03 
Occasionally/ Souvent | Occasionally | 4 | 0.04 
Never / Jamais | Never | 5 | 0.06

In [163]:
u = df[23].unique() #23:"Do you request guarantees when you lend?"
len(u),u

(18, array(['Most of the time', 'Never', 'About half the time', 'Occasionally',
        'Always', 'Never / Jamais', 'Occasionally / Souvent',
        'Always /\xa0Toujours',
        'Most of the time /\xa0La majorité du temps',
        'About half the time /\xa0La moitié du temps',
        'About half the time / La moitié du temps', 'Always / Toujours',
        'Most of the time / La majorité du temps', 'Jamais',
        'La majorité du temps', 'Souvent', 'La moitié du temps',
        'Toujours'], dtype=object))

### Liquidity

#### Frequency


Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
More than 4 times / Plus de 4 foiss | More than 4 times | 1 | 0.1
Between 2-3 times / Entre 2 et 3 fois | 2-3 times | 2 | 0.07 
Once / Une fois | Once | 3 | -0.02 
Never / Jamais | Never | 4 | -0.05

In [166]:
u=df[18].unique() #18:"Over the past 3 months, how many times have you lent someone money?"
len(u),u

(22, array(['Between 2-3 times', 'Once', 'More than 4 times', 'Never',
        'Once / Une fois', 'Between 2-3 times /\xa0Entre 2 et 3 fois',
        'More than 4 times / Plus de 4 fois', 'Never / Jamais',
        'Plus de 4 fois', 'Entre 2 et 3 fois', 'Aucune', 'Une fois',
        'Jamais', 'Une fois, Entre 2 et 3 fois',
        'Entre 2 et 3 fois, Plus de 4 fois', 'Une fois, Plus de 4 fois',
        'Jamais, Entre 2 et 3 fois', 'Jamais, Une fois, Entre 2 et 3 fois',
        'Une fois, Entre 2 et 3 fois, Plus de 4 fois',
        'Jamais, Plus de 4 fois',
        'Jamais, Une fois, Entre 2 et 3 fois, Plus de 4 fois',
        'Jamais, Une fois'], dtype=object))

#### Duration


Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
Less than a month / Moins d'un mois | Less tan a month | 1 | -0.01 
At least 1 month but than 3 months / 1 - 2 mois | At least 1 month but less than 3 months | 2 | 0.02 
At least 3 months but less than 6 months / 3 - 5 mois | At least 3 months but less than 6 months  | 3 | 0.03 
At least 6 months but less than 12 months / 6 - 11 mois | At least 6 months but less than 12 months | 4 | 0.04 
One year or more / Plus d'un an | One year or more | 5 | 0.05 
??? | ??? | 6 | -0.02

In [167]:
u=df[21].unique() #21:"When you lend money, when do you usually expect to get it repaid?"
len(u),u

(18, array(['At least 3 months but less than 6 months',
        'At least 1 month but less than 3 months', 'Less than a month',
        'One year or more', 'At least 6 months but less than 12 months',
        "Never - I don't expect to get repaid",
        'At least 1 month but than 3 months',
        'At least 3 months but less than 6 months / 3 - 5 mois',
        "Less than a month / Moins d'un mois",
        'At least 1 month but than 3 months /\xa01 - 2 mois',
        'At least 6 months but less than 12 months / 6 - 11 mois',
        "One year or more / Plus d'un an", "Moins d'un mois", '1 - 2 mois',
        '3 - 5 mois', '6 - 11 mois', "Plus d'un an", nan], dtype=object))

#### Amount


Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
??? | Micro | 1 | -0.05 
??? | Small | 2 | 0.03 
??? | Medium | 3 | 0.05 
??? | Large | 4 | 0.07

### Default

Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
Always /Toujours | Always | 1 | 0.35
Most of the time/ La moitié du temps | Most of the Time | 2 | 0.25 
About half the time/ La moitié du temps | About half the time | 3 | 0.15 
Occasionally/ Souvent | Occasionally | 4 | -0.1 
Never / Jamais | Never | 5 | -0.3

In [174]:
u=df[24].unique() # 24:"Do you receive your money back in time?"
len(u),u

(18, array(['About half the time', 'Most of the time', 'Occasionally', 'Never',
        'Always', 'Most of the time /\xa0La majorité du temps',
        'Always /\xa0Toujours',
        'About half the time /\xa0La moitié du temps',
        'Occasionally / Souvent', 'Never / Jamais',
        'Most of the time / La majorité du temps', 'Always / Toujours',
        'About half the time / La moitié du temps', 'La moitié du temps',
        'Toujours', 'La majorité du temps', 'Souvent', 'Jamais'],
       dtype=object))

### Usage

Raw | Description | Categories | Weights 
--------- | -------------| ------- | ------  
Same | To cover regular expenses (Rent, clothing, home appliances, etc.) | 1 | -0.1
Same| To pay for one-time or sudden expenses (Wedding, medical emergencies, etc.) | 2 | 0.05 
Same | To invest or cover business expenses (Merchandise, salaries, etc..) | 3 | 0.15 
To pay off other debts | To pay off other debts | 4 | -0.05 
I don't know | I don't know | 5 | 0.05

In [198]:
u=df[26].unique() #26:"What's the most common use of the money you lend?"
len(u),u

(18,
 array(['To invest or cover business expenses (Merchandise, salaries, etc..)',
        'To pay for one-time or sudden expenses (Wedding, medical emergencies, etc.)',
        'To cover regular expenses (Rent, clothing, home appliances, etc.)',
        'To pay off other debts', "I don't know",
        'Investment (commerce, merchandise, etc.)',
        'Personal or family expenses (Health, education)', nan,
        'Pour payer des dépenses ponctuelles ou soudaines (mariage, urgences médicales, etc.)',
        'Pour couvrir les dépenses régulières (loyer, vêtements, appareils ménagers, etc.)',
        "Payer d'autres dettes",
        'Pour investir ou couvrir les dépenses de votre entreprise (marchandises, salaires, etc.)',
        'Je ne sais pas', 'Régler les problèmes subits',
        'Investir dans un projet', "I don't know / Je ne sais pas",
        'Personal or family expenses (Health, education) /\xa0Régler les problèmes subits',
        'Investment (commerce, merchandise, etc.) / Investir dans un projet'],
       dtype=object))